
@{
    ViewBag.Title = "О нас";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 

<img src="~/Content/ImgForSity/image_0.jpg" alt="" title="" border="0" width="100%" />

<br />

<img src="~/Content/ImgForSity/about_00.jpg"  alt="" title="" border="0" id="aboutImg_l" />

<br/>

<p>5 июля 2018г. в Одессе появляется  детский интернет магазин с солнечным названием «Львенок». За основу была взята идея обеспечения новорожденного ребенка всем необходимым от пустышки до коляски. Первый и главный принцип «Львенка» – это безопасность детей.  </p>

<p>Подобно ребенку, «BabyShop» все время меняется и совершенствуется, но главное остается неизменным: для ребят он друг, который радует и удивляет, а для родителей – верный помощник, помогающий вырастить детей здоровыми и счастливыми!  </p>

<p>Ассортимент интернет-магазина постоянно обновляется. «BabyShop» имеет постоянных иностранных и отечественных партнеров, занимающие высокие места на рынке уже более 11 лет. Основным преимуществом продукции является ее высокое и сертифицированное качество.  </p>

<p>Вы можете получить квалифицированную консультацию по телефону. Это значительно сэкономит силы и время. Оформить заказ – легко и просто. Доставка может быть осуществлена в любую точку Вашего города. </p>
 

<p>Мы надеемся, что наш интернет-магазин облегчит выбор и поиск нужных вещей, а простой и удобный интерфейс поможет в этом. Мы всегда рады своим клиентам.</p>

