@model Shop_v2.Models.User


@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Забыли пароль</h2> 


@using (Html.BeginForm("ForgotPasswordRe", "MyAccount", FormMethod.Post))
{
    @*<input type="hidden" value="@ViewBag.BookId" name="BookId" />*@
    <p>Введите email: </p>
    @Html.TextBox("Email", "Введите email") 
    <p><input type="submit" value="Отправить" /></p>
}