
@{
    ViewBag.Title = "Контакты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@Html.Partial("SearchForm")*@
@*<h1>Контакты</h1>*@

<h2> Связаться с нами</h2>

<img src="~/Content/ImgForSity/image_2.jpg" alt="" title="" border="0" id="contactImg_r" />
<h3 id="contact">Контакт-центр </h3>
<p> 0 (800) 306-063 </p>
<h3 id="contact">Если не получается заказать товар с помощью сайта, звоните по телефону</h3>
<p> 0 666 30 61 95 </p>
<p> BabyShop@gmail.com</p>
<h3> Режим работы контакт-центра</h3>
<p> Ежедневно с 9:00 до 21:00 </p> 